### OSX ###
.DS_Store
.AppleDouble
.LSOverride

### SublimeText ###
# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# workspace files are user-specific
*.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
# *.sublime-project

# sftp configuration file
sftp-config.json

# Basics
*.py[cod]
__pycache__

# Logs
logs
*.log
pip-log.txt
npm-debug.log*

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
htmlcov

# Translations
*.mo
*.pot

# Pycharm
.idea/*


# Vim

*~
*.swp
*.swo

# npm
node_modules/

# Compass
.sass-cache

# virtual environments
.env

# User-uploaded media
ext6project/media/



staticfiles/

# ExtJS files
# The build directory can be recreated by developers using Sencha Cmd,
# it should be excluded from the repo
extproject/my-workspace/build/

# Changes every time a build is run
extproject/my-workspace/architecture-cms/bootstrap.js
extproject/my-workspace/architecture-cms/bootstrap.css

# Temporary files created when compiling .scss files
extproject/my-workspace/architecture-cms/.sass-cache/

# Some team members may use Sencha architect – exclude so they
# keep their custom settings
extproject/my-workspace/architecture-cms/.architect

# It's possible to create reusable packages using Sencha Cmd
#but depending on your preference you might want to exclude this directory. 
extproject/my-workspace/packages/


# ext build out files
djangoproject/ext6project/static/apps/
