
# PostgreSQL
POSTGRES_PASSWORD=mysecretpass
POSTGRES_USER=ext6project

# General settings
DJANGO_ADMIN_URL=
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=gx_gx7ob1l5@i3wap(^eqtg6uy*!1i(steuwva9oqlhf7b%r&%
DJANGO_ALLOWED_HOSTS=.example.com

# AWS Settings
DJANGO_AWS_ACCESS_KEY_ID=
DJANGO_AWS_SECRET_ACCESS_KEY=
DJANGO_AWS_STORAGE_BUCKET_NAME=

# Used with email
DJANGO_MAILGUN_API_KEY=
DJANGO_SERVER_EMAIL=
MAILGUN_SENDER_DOMAIN=

# Security! Better to use DNS for this task, but you can use redirect
DJANGO_SECURE_SSL_REDIRECT=False

# django-allauth
DJANGO_ACCOUNT_ALLOW_REGISTRATION=False
DJANGO_ACCOUNT_EMAIL_REQUIRED=False
DJANGO_ACCOUNT_EMAIL_VERIFICATION='none' # or 'mandatory'



